pkgbase = smartdns-plugin-ui
	pkgdesc = Dashboard UI plugin for smartdns
	pkgver = 48.2
	pkgrel = 1
	url = https://github.com/pymumu/smartdns
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = rust
	makedepends = rust-bindgen
	depends = smartdns=48.2
	depends = smartdns-webui
	source = git+https://github.com/pymumu/smartdns.git#tag=Release48.2
	sha512sums = f488b4ba40d348d3f79b25d092ef1a987cf9d58bf796c22a352fc896fc61f270abdd14e324da5a83abb0f3052982c93004e828a3f86aa0a24ccb1fcf6f39af4f

pkgname = smartdns-plugin-ui
