pkgbase = smartdns-plugin-ui
	pkgdesc = Dashboard UI plugin for smartdns
	pkgver = 48.1
	pkgrel = 1
	url = https://github.com/pymumu/smartdns
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = rust
	makedepends = rust-bindgen
	depends = smartdns=48.1
	depends = smartdns-webui
	source = git+https://github.com/pymumu/smartdns.git#tag=Release48.1
	sha512sums = 7ea081ec87ca5da876f712238d4c5f27017d91ae12667621eb560fe2526578ac31e46c8385dff6dedfd314c35b4f29e073811bcc39995e67e9e3e4d7f634a31d

pkgname = smartdns-plugin-ui
