pkgbase = gedit-menubar
	pkgdesc = GNOME Text Editor (Patched to show menubar)
	pkgver = 48.2
	pkgrel = 3
	url = https://wiki.gnome.org/Apps/Gedit
	arch = x86_64
	groups = gnome-extra
	license = GPL-2.0-or-later
	makedepends = appstream
	makedepends = appstream-glib
	makedepends = desktop-file-utils
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = vala
	makedepends = yelp-tools
	makedepends = glib2-devel
	depends = bash
	depends = cairo
	depends = dconf
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gobject-introspection-runtime
	depends = gsettings-desktop-schemas
	depends = gspell
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgedit-amtk
	depends = libgedit-gfls
	depends = libgedit-gtksourceview
	depends = libgedit-tepl
	depends = libgirepository
	depends = libpeas>=1.38
	depends = pango
	depends = python
	depends = python-gobject
	optdepends = gedit-plugins: Additional features
	optdepends = gedit-externaltools-plugin: External Tools support
	provides = gedit
	conflicts = gedit-code-assistance<=3.16.0+4+gd19b879-1
	conflicts = gedit
	source = git+https://gitlab.gnome.org/GNOME/gedit.git#tag=48.2
	source = git+https://gitlab.gnome.org/GNOME/libgd.git
	source = menubar.patch
	source = gedit-new-tab.patch
	source = gedit-prgname.patch
	source = gir2.patch
	sha256sums = 5aec8e65b9e0e5bf0e99233a55080216ec80ba0502212ff96c651dea4631eb08
	sha256sums = SKIP
	sha256sums = 80692c1e39bc59f997f7d6857fc7b7d65a94aa53ff0f20de6e633a3596b20163
	sha256sums = faadcf029fe7e6505314547ff53ab61b9e843be1f9f749ea08a1297baa77c13c
	sha256sums = 774dbbf0023ec97b2c9c67c33ecf0c721b94519e86846efe013d671277048b08
	sha256sums = 9446c65fc8b392c07575566e4c8943c3f3d23abd354ba240d7529ee65f95aa32

pkgname = gedit-menubar
