pkgbase = jelling
	pkgdesc = A FreeOTP token receiver for Linux.
	pkgver = r19.3661895
	pkgrel = 2
	url = https://github.com/freeotp/jelling-linux
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = meson
	makedepends = bluez-libs
	depends = bluez
	depends = systemd-libs
	source = jelling::git+https://github.com/freeotp/jelling-linux.git#branch=master
	source = sd-eventloop.patch::https://github.com/freeotp/jelling-linux/pull/7.patch
	sha256sums = SKIP
	sha256sums = 7fc54ec7c469831fc845e81ca908540994085b0dfac978521a867efd008b2a40

pkgname = jelling
