pkgbase = smartdns-plugin-ui
	pkgdesc = Dashboard UI plugin for smartdns
	pkgver = 48
	pkgrel = 2
	url = https://github.com/pymumu/smartdns
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = rust
	makedepends = rust-bindgen
	depends = smartdns=48
	depends = smartdns-webui
	source = git+https://github.com/pymumu/smartdns.git#tag=Release48
	sha512sums = b3d1b882d40b9c2098627e3461ab577e8ee0ebfddf36de8a16c70ada66ff356cb5cfeb21f35a146554f7a48b534f15f7394a5f71047caac38ee17b4e96c77056

pkgname = smartdns-plugin-ui
