pkgbase = stow-dotfiles
	pkgdesc = Manage installation of multiple softwares in the same directory tree (with AitorATuin's patches for --dotfiles)
	pkgver = 2.4.1
	pkgrel = 1
	url = https://www.gnu.org/software/stow/
	arch = any
	license = GPL3
	checkdepends = perl-test-output
	checkdepends = perl-io-stringy
	depends = perl
	provides = stow
	conflicts = stow
	source = https://ftp.gnu.org/gnu/stow/stow-2.4.1.tar.gz
	source = dotfiles.diff::https://patch-diff.githubusercontent.com/raw/aspiers/stow/pull/70.diff
	sha256sums = 2a671e75fc207303bfe86a9a7223169c7669df0a8108ebdf1a7fe8cd2b88780b
	sha256sums = effe1387783e6f0046ad02ffb1647a083d49a887bea5e09173ea45dd5a11548f

pkgname = stow-dotfiles
