pkgbase = gedit-menubar
	pkgdesc = GNOME Text Editor (Patched to show menubar)
	pkgver = 48.2
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Gedit
	arch = x86_64
	groups = gnome-extra
	license = GPL-2.0-or-later
	makedepends = appstream
	makedepends = appstream-glib
	makedepends = desktop-file-utils
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = vala
	makedepends = yelp-tools
	makedepends = glib2-devel
	depends = bash
	depends = cairo
	depends = dconf
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gobject-introspection-runtime
	depends = gsettings-desktop-schemas
	depends = gspell
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgedit-amtk
	depends = libgedit-gfls
	depends = libgedit-gtksourceview
	depends = libgedit-tepl
	depends = libgirepository
	depends = libpeas
	depends = pango
	depends = python
	depends = python-gobject
	optdepends = gedit-plugins: Additional features
	optdepends = gedit-externaltools-plugin: External Tools support
	provides = gedit
	conflicts = gedit-code-assistance<=3.16.0+4+gd19b879-1
	conflicts = gedit
	source = git+https://gitlab.gnome.org/GNOME/gedit.git#tag=48.2
	source = git+https://gitlab.gnome.org/GNOME/libgd.git
	source = menubar.patch
	sha256sums = 5aec8e65b9e0e5bf0e99233a55080216ec80ba0502212ff96c651dea4631eb08
	sha256sums = SKIP
	sha256sums = 80692c1e39bc59f997f7d6857fc7b7d65a94aa53ff0f20de6e633a3596b20163

pkgname = gedit-menubar
