pkgbase = gedit-menubar
	pkgdesc = GNOME Text Editor (Patched to show menubar)
	pkgver = 47.0
	pkgrel = 4
	url = https://wiki.gnome.org/Apps/Gedit
	arch = x86_64
	groups = gnome-extra
	license = GPL-2.0-or-later
	makedepends = appstream-glib
	makedepends = desktop-file-utils
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = vala
	makedepends = yelp-tools
	makedepends = glib2-devel
	depends = bash
	depends = cairo
	depends = dconf
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gobject-introspection-runtime
	depends = gsettings-desktop-schemas
	depends = gspell
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgedit-amtk
	depends = libgedit-gfls
	depends = libgedit-gtksourceview
	depends = libgedit-tepl
	depends = libgirepository
	depends = libpeas
	depends = pango
	depends = python
	depends = python-gobject
	optdepends = gedit-plugins: Additional features
	provides = gedit
	conflicts = gedit-code-assistance<=3.16.0+4+gd19b879-1
	conflicts = gedit
	source = git+https://gitlab.gnome.org/GNOME/gedit.git#tag=47.0
	source = git+https://gitlab.gnome.org/GNOME/libgd.git
	source = menubar.patch
	source = bottom-panel.patch
	sha256sums = fe9f6e5acb3a6dff0c8d6ea150eb85b3923e05acb4ce10c4b3e65c04f049895a
	sha256sums = SKIP
	sha256sums = 80692c1e39bc59f997f7d6857fc7b7d65a94aa53ff0f20de6e633a3596b20163
	sha256sums = 139e3001397f1c716261dbefaefe92ce5165b4e1f4254a57d079234f85c46de3

pkgname = gedit-menubar
