pkgbase = transmission-gtk3
	pkgdesc = Fast, easy, and free BitTorrent client (GTK+ GUI)
	pkgver = 4.0.6
	pkgrel = 3
	url = http://www.transmissionbt.com/
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = curl
	makedepends = dht
	makedepends = glibmm-2.68
	makedepends = gtk3
	makedepends = gtkmm3
	makedepends = intltool
	makedepends = libb64
	makedepends = libdeflate
	makedepends = libevent
	makedepends = libnatpmp
	makedepends = miniupnpc
	makedepends = ninja
	depends = curl
	depends = libevent
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libb64
	depends = miniupnpc
	depends = libnatpmp
	depends = libdeflate
	depends = gtkmm3
	optdepends = libnotify: Desktop notification support
	optdepends = transmission-cli: daemon and web support
	provides = transmission-gtk
	conflicts = transmission-gtk
	source = https://github.com/transmission/transmission/releases/download/4.0.6/transmission-4.0.6.tar.xz
	source = miniupnpc.patch::https://gitlab.archlinux.org/archlinux/packaging/packages/transmission/-/raw/main/febfe49c.patch
	sha256sums = 2a38fe6d8a23991680b691c277a335f8875bdeca2b97c6b26b598bc9c7b0c45f
	sha256sums = 1e5917c79a0c17595f18b544c5c1ab101ecbef5b2ffb0ca42a0a3b221a85e044

pkgname = transmission-gtk3
