name: push-aur

on:
  # Allow manual start
  workflow_dispatch:
  push:
    branches:
    - master

jobs:
  publish:
    runs-on: ubuntu-latest
    concurrency:
      group:  ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    environment: aur
    container:
      image: ghcr.io/greyltc/archlinux:latest
    steps:
    - name: Install dependencies
      run: pacman -Syu --overwrite="*" --needed --noconfirm --noprogressbar git openssh nodejs

    - name: Mark workdir as safe
      run: git config --global --add safe.directory $PWD

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Configure ssh
      run: |
        mkdir -p /root/.ssh
        chmod -R 700 /root/.ssh
        cd /root/.ssh

        printf "${{ secrets.SSH_KEY }}\n" > id_rsa
        chmod 600 id_rsa

        ssh-keyscan aur.archlinux.org > known_hosts
        chmod 600 known_hosts
    - name: Setup aurpublish
      run: ./.helpers/aur/pub setup

    - name: Prepare subtree key
      id: subtree-cache
      run: |
        git log --format=oneline \
        | grep -E '[a-z0-9]{40}\s\w+\s'\''[[:alnum:]-]+/'\''\s\w+\scommit\s'\''[a-z0-9]{40}'\''$' \
        | awk '{print $1}' | sha1sum \
        | awk '{print "hash="$1 >> ENVIRON["GITHUB_OUTPUT"] }'

    - name: Init subtree cache
      uses: actions/cache@v4
      with:
        key: subtree-${{ steps.subtree-cache.outputs.hash }}
        path: ./.git/subtree-cache
        restore-keys: subtree-

    - name: Publish pkgbuilds
      shell: bash
      if: ${{ ! env.ACT || env.FORCE_ACT }}
      run: |
        git reset --hard
        git config user.email "ahmubashshir@gmail.com"
        git config user.name "Mubashshir"
        git config "url.ssh://aur@aur.archlinux.org/.insteadOf" "aur:"

        for each in */;do
          [[ -f "$each/.noaur" ]] && continue
          [[ -f "$each/PKGBUILD" ]] || continue
          (
            source "$each/PKGBUILD"
            printf '::group::Publish %s\n' "${pkgbase:-$pkgname}"
          )
          (./.helpers/aur/pub -p "$each";./.helpers/aur/pub    "$each") || true
          printf '::endgroup::\n'
        done

    - name: Push changes
      if: ${{ !env.ACT }}
      run: git push
